body{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

.section{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

